body {
  font-family: "Haas bold", sans-serif;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 2.5px;
  margin: 0;
  padding: 0;
  background: #fff;
}

.replaced {
 padding: 21px;
 background-color: rgb(253, 247, 239);
 height: 100vw;
}

.replaced-info {
  font-family: "Times bold";
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0px;
}

.replaced-text {
  font-family: "Times";
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0px;
}

.replaced-italic {
  font-family: "Times italic";
  font-size: 9px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0px;
}

.container {
  margin: 0;
  display: grid;
}

.card {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: min-content;
}

.title-bg {
  grid-column: 1 / 9;
  background-color: black;
  width: 100vw;                      
  padding: 3.5px 0;

  position: sticky;
  top: 0;
  z-index: 10;
}

.title {
  margin: 0;
  padding: 0 7px;
  color: white;
  font-family: "times";
}

.top-image {
  grid-column: 1 / 9;
  width: 100%;
  height: auto;
  padding-bottom: 14px;
}

.date,
.location,
.description,
.deleted {
  grid-column: 2 / 8;
  margin-bottom: 14px;
}


.date, .location {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #00c896;
}

.description summary {
  font-family: "Haas bold";
  letter-spacing: 2.5px;
  display: block;
  cursor: pointer;
  list-style: none;
}

.description summary::-webkit-details-marker {
  display: none;
}

.description summary:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #00c896;
}

.description-panel {
  display: none;
  flex-direction: column;
  line-height: 18px;
}

.description[open] .description-panel {
  display: flex;
}

.deleted {
  font-family: "Haas bold";
  letter-spacing: 2.5px;
  cursor: pointer;
  text-decoration: none;
  color: #ff0000;
}

.deleted:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

.modal {
  position: fixed;
  inset: 0;
  display: none;
  z-index: 1000;
  place-items: start center;
  padding-top: 84px;
}

.modal:target {
  display: grid;
}

.modal-close {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.modal-content {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 90%;
  max-width: 800px;
  position: relative;
  z-index: 1;
}

.modal-window {
  grid-column: 3 / 7;
  background: rgb(243, 240, 229);
  color: black;
  max-height: 66.666vh;
  overflow-y: auto;
  padding: 14px;
  line-height: 21px;
  scrollbar-width: none;
  position: relative;
}

.modal-window::-webkit-scrollbar {
  display: none;
}

.modal-cross {
  position: sticky;
  top: 0;
  right: 0;
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  background: rgb(243, 240, 229);
  padding: 5px 8px;
  z-index: 2;
  float: right;
  line-height: 1;
  border-radius: 2px;
  cursor: pointer;
}
