body {
  font-family: "Haas bold", sans-serif;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 2.5px;
  margin: 0;
  padding: 0;
  background: #fff;
}

.replaced {
display: grid;
grid-template-columns: repeat(11, 1fr);
 padding: 21px;
 background-color: rgb(253, 247, 239);
 height: 100vw;
 grid-auto-rows: min-content;
}

.replaced-info {
  grid-column: 3 / 10;
  font-family: "Times bold";
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0px;
}

.replaced-text {
  grid-column: 4 / 9;
  font-family: "Times";
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0px;
  margin-bottom: 21px;
}

.replaced-italic {
  grid-column: 4 / 9;
  font-family: "Times italic";
  font-size: 9px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0px;
}

.container {
  margin: 0;
  display: grid;
}

.card {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: min-content;
}

.title-bg {
  grid-column: 1 / 9;
  background-color: black;
  width: 100vw;                      
  padding: 3.5px 0;

  position: sticky;
  top: 0;
  z-index: 10;
}

.title {
  margin: 0;
  padding: 0 7px;
  color: white;
  font-family: "times";
}

.fixed-top-right a {
  all: unset;
  cursor: pointer;
  font-family: "times"; 
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 2.5px;
  color: white;
}

.fixed-top-right a:hover {
  text-decoration: underline;
}

.about-close {
  all: unset;
  cursor: pointer;
  font-size: 24px;
  color: black;
}


.fixed-top-right {
  position: fixed;
  padding: 3.5px;
  right: 7px;

  font-family: "times";
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 2.5px;
  color: white;

  z-index: 9999;
}

.fixed-top-right:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
}

.top-image {
  grid-column: 1 / 9;
  width: 100%;
  height: auto;
  padding-bottom: 14px;
}

.date,
.location,
.description,
.deleted {
  grid-column: 2 / 8;
  margin-bottom: 14px;
}


.date, .location {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #00c896;
}

.description summary {
  font-family: "Haas bold";
  letter-spacing: 2.5px;
  display: block;
  cursor: pointer;
  list-style: none;
}

.description summary::-webkit-details-marker {
  display: none;
}

.description summary:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #00c896;
}

.description-panel {
  display: none;
  flex-direction: column;
  line-height: 18px;
}

.description[open] .description-panel {
  display: flex;
}

.deleted {
  font-family: "Haas bold";
  letter-spacing: 2.5px;
  cursor: pointer;
  text-decoration: none;
  color: #ff0000;
}

.deleted:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

.modal {
  position: fixed;
  inset: 0;
  display: none;
  z-index: 1000;
  place-items: start center;
  padding-top: 84px;
}

.modal:target {
  display: grid;
}

.modal-close {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.modal-content {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 90%;
  max-width: 800px;
  position: relative;
  z-index: 1;
}

.modal-window {
  grid-column: 3 / 7;
  background: rgb(243, 240, 229);
  color: black;
  max-height: 66.666vh;
  overflow-y: auto;
  padding: 14px;
  line-height: 21px;
  scrollbar-width: none;
  position: relative;
}

.modal-window::-webkit-scrollbar {
  display: none;
}

.about-modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 400px;
  height: 100vh;
  font-family: "times";
  background: black;
  color: white;
  z-index: 2000;
  transform: translateX(100%);
  transition: transform 0.5s ease;
  display: grid;
  place-items: start stretch;
}

.about-panel {
  padding: 20px;
  z-index: 2;
  position: relative;
  background: black;
}

.about-modal-background {
  position: absolute;
  inset: 0;
  z-index: 1;
  cursor: pointer;
}

#about-toggle:checked ~ .about-modal {
  transform: translateX(0);
}
